
/* =========================================
   BOTÕES SOCIAIS
========================================= */

.social-btn {

    position: relative;

    width: 100%;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    border: none;
    border-radius: 14px;

    background: #284CAD;

    color: #DDD;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    box-shadow: 0 6px 18px rgba(0, 0, 0, .08);

    transition: .25s;

}

.social-btn:active,
.create-account:active {

    transform: scale(.98);

}

.social-btn:focus-visible,
.create-account:focus-visible {

    outline: none;

    box-shadow: 0 0 0 4px rgba(41, 98, 255, .18);

}

.create-account:hover{

    background:#1F4DE0;

    transform:translateY(-2px);

    box-shadow:0 12px 28px rgba(41,98,255,.28);

}

.facebook {

    background: #1877F2;
    color: #FFF;
    border: 1px solid

}

.google {

    background: #FFF;
    color: #444;
    border: 1px solid #E2E2E2;
}

.facebook:hover,
.google:hover {

    transform: translateY(-3px) scale(1.01);

    box-shadow: 0 10px 24px rgba(0, 0, 0, .12);

}

.facebook img,
.google img {

    position: absolute;

    left: 18px;

    width: 32px;
    height: 32px;

}

/* =========================================
   BOTÃO CRIAR CONTA
========================================= */

.create-account {

    width: 100%;
    height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    border: none;
    border-radius: 14px;

    background: #2962FF;

    color: #FFF;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: .25s;

}

.create-account i{

    transition:.30s ease;

}

.create-account:hover i{

    transform:translateX(4px);

}



.create-account:disabled {

    background: #CFCFCF;

    color: #777;

    cursor: not-allowed;
    pointer-events: none;

}

/* =========================================
   BOTÕES DO MODAL
========================================= */

.modal-footer button {
    min-width: 120px;

    padding: 12px 24px;

    border: none;

    border-radius: 10px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: .25s;

}

/* Cancelar */

#cancelar {

    background: #ECECEC;

}

#cancelar:hover {

    background: #DDDDDD;

}

/* Aceitar */

#aceitar {

    background: #2962FF;

    color: #FFF;

}

#aceitar:hover {

    background: #1F4DE0;

}

#aceitar:disabled {

    background: #CFCFCF;

    color: #777;

    cursor: not-allowed;

    opacity: .8;

}

/* =========================================
   FECHAR MODAL
========================================= */

#fechar {

    width: 40px;
    height: 40px;

    border: none;

    border-radius: 50%;

    background: #F4F4F4;

    font-size: 28px;

    cursor: pointer;

    transition: .25s;

}

#fechar:hover {

    background: #E5E5E5;
    transform: rotate(90deg);

}