:root {
  --cor-fundo: #2c74443d;
  --cor-verde: #c8d98c44;
  --cor-azul: #284bad14;
  --cor-azul-total: #284bad;
  --cor-clara: #f1eee6cc;
  --cor-escura: #0A1633;


  --fonte-titulos: Outfit, sans-serif;
  --fonte-paragrafos: Plus Jakarta Sans, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-paragrafos);
}

body {
   display: flex;
 background-color: var(--cor-fundo);
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.conteudo-pagina {
  flex: 1;
  display: flex;
  flex-direction: column;   /* main em cima, footer embaixo */
  min-height: 100vh;
}

.pagina-ajuda {
  flex: 1;
  padding: 20px;
  padding-bottom: 100px;  
  min-width: 0;
}

h1,
h2 {
  font-family: var(--fonte-titulos);
}

p {
  font-family: var(--fonte-paragrafos);
}

/* Sessão 01 Cabeçalho */
.cabecalho-ajuda {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-ajuda {
  font-size: 32px;
  margin-bottom: 8px;
}

.descricao-ajuda {
  font-size: 14px;
  line-height: 1.4;
  max-width: 800px;
}

.imagem-ajuda {
  width: 147px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

/* =========================
   SESSÃO - PRIMEIROS PASSOS
========================= */

.primeiros-passos {
  background-color: var(--cor-clara);
  padding: 12px;
  border-radius: 22px;
}

.titulo-primeiros-passos {
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 0.4rem;
}

.descricao-primeiros-passos {
  font-size: 12px;
  margin-bottom: 12px;
}

/* Cards */

.cards-primeiros-passos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.card-ajuda {
  display: flex;
  align-items: center;

  background-color: var(--cor-azul);
  padding: 8px;
  border-radius: 8px;

  height: 76px;
}

.icone-card {
  width: 28px;
  height: 30px;
  object-fit: contain;

  margin-right: 10px;
}

#img-robo {
    width: 1.9rem;
}

.conteudo-card {
  flex: 1;
}

.titulo-card {
  font-size: 14px;
  margin-bottom: 3px;
  line-height: 1.4;
}

.texto-card {
  font-size: 14px;
  line-height: 1.6;
  max-width: 200px; /* ajustando a quebra de texto dos paragrafos */
}


.faq {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.titulo-faq {
  padding-bottom: 1rem;
  font-size: 18px;
}

.pergunta-faq {
  background-color: var(--cor-clara);
  margin-bottom: 1.3rem;
padding: 1rem;
border-radius: 22px;
}

.botao-faq {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: none;
    border: none;

    padding: 0;
    margin: 0;
    margin-bottom: 1rem;

    font-family: var(--fonte-titulos);
    font-size: 0.9rem;
    text-align: left;

    cursor: pointer;
}

.icone-faq {
    width: 23px;
    height: 18px;
    object-fit: contain;

    /* Transição/movimentação do icone quando o usuário interage com ele */
      transition: transform 0.6s ease;
}


.resposta-faq {
  display: block;
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 1.5;

  opacity: 0;
  max-height: 0;
  overflow: hidden;

  transition: opacity 0.4s ease, max-height 0.4s ease;
}



.resposta-faq span {
 background-color: var(--cor-verde);

    display: block;

    width: 100%;
    box-sizing: border-box;

    padding: 1rem;
    margin: 1rem auto 0;

    border-radius: 30rem;

    /* Aplicando efeito de sombra interna no card */
    box-shadow: inset 0 2px 6px  #03011a23;
}

.contato-ajuda {
 text-align: center;
}

.botao-contato {
     display: inline-block;

color: #f1eee6;
background-color: var(--cor-azul-total);

  padding: 0.8rem 2.3rem;
white-space: nowrap;

   border-radius: 30px;

    text-decoration: none;

    font-family: var(--fonte-titulos);
    font-size: 1rem;
    
    box-shadow: inset 0 2px 6px  #32248144;
}

.seta-primeiros-passos {
  display: none;
}

verifica-footer {
  display: none;
}

/* =========================
   VERSÃO NOTEBOOK / DESKTOP
========================= */

@media (min-width: 1071px) {

  body {
    display: flex;
    min-height: 100vh;
  }

  .pagina-ajuda {
    flex: 1;
    padding: 23px 25px;
    padding-top: 1rem;
    min-width: 0;
  }

  /* Cabeçalho */

  .cabecalho-ajuda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  .titulo-ajuda {
    font-size: 32px;
    margin-bottom: 14px;
  }

  .descricao-ajuda {
    font-size: 21px;
    max-width: 350px;
  }

  .imagem-ajuda {
    width: 220px;
    margin-right: 0.5rem;
  }


  /* Primeiros passos */

  .primeiros-passos {
    padding: 16px;
    border-radius: 22px;
  }

  .titulo-primeiros-passos {
    font-size: 20px;
  }

  .descricao-primeiros-passos {
    font-size: 16px;
    margin-bottom: 22px;
  }

.cards-primeiros-passos {
   display: flex;
   align-items: stretch;
     gap: 8px;
     margin: 0;
  width: 100%;
    max-width: 100%;
     min-width: 0;
  }

  .seta-primeiros-passos {
    display: block;
    width: 15px;
    height: auto;
    flex-shrink: 0;
    transform: rotate(90deg);
  }

.card-ajuda {
   flex: 1 1 0;      /* cresce e encolhe igualmente entre os 4 cards */
    min-width: 0;     /* permite encolher sem estourar o container */

    max-width: none;
    height: 160px;
    padding: 28px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
  }

  .icone-card {
    width: 40px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 12px;
  }

  #img-aprenda-rapido {
 width: 3rem;
  height: 2.5rem;  
  }

  #img-comunidade {
   width: 2.8rem;
  height: 2.8rem;  
  }

  #img-robo {
    width: 2.9rem;
     height: 2.8rem;  
  }

  .titulo-card {
    font-size: 15px;
    white-space: nowrap;
    line-height: 1.3;
    margin-bottom: 6px;
    max-width: 150%;
  }

  .texto-card {
   font-size: 13px;
    line-height: 1.4;
    max-width: 210px;
    text-align: center;
  }


  /* FAQ */

  .faq {
    margin-top: 3.5rem;
    margin-bottom: 3.8rem;
  }

  .titulo-faq {
    font-size: 20px;
    padding-bottom: 0.8rem;
  }

  .pergunta-faq {
    margin-bottom: 12px;
    padding: 15px 25px;
    border-radius: 18px;
    
  }

  .botao-faq {
    font-size: 16px;
    margin-bottom: 0;
  }

  .icone-faq {
    width: 25px;
    height: 16px;
  }

  .resposta-faq {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 25px;
  }


  /* Botão de contato */

  .contato-ajuda {
    text-align: center;
    margin-top: 20px;
  }

  .botao-contato {
    padding: 0.6rem 2.3rem;
    font-size: 16px;
    white-space: nowrap;
  }

  .botao-contato:hover {
    background-color: var(--cor-escura);      /* um tom mais escuro do azul original */
    box-shadow: inset 0 2px 6px #32248166, 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.2s ease;
  }

   verifica-footer {
    display: block;
  }
}
