:root {
    --color-primary: #2C7444;
    --color-secondary: #0080FF;
    --color-background: #F1EEE6;
    --color-text: #000000;
    --color-white: #FFFFFF;

    --color-autenticacao: rgb(0 0 0 / 70%);
    --color-link: rgb(0 0 0 / 70%);
    --background-welcome: radial-gradient(circle, #C8D98C, #58A74B);
    --background-welcome-notebook: radial-gradient(circle, #C8D98C, #58A74B);
}


/* =====================================================
CONFIGURAÇÃO GERAL
===================================================== */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

.container {
    min-height: 100vh;
}


/* =====================================================
LADO ESQUERDO
MOBILE
===================================================== */

.welcome {
    height: 14.375rem;
    background: var(--background-welcome);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    position: relative;

    border-radius: 0 0 2.45rem 2.45rem;
}

.welcome h1 {
    color: var(--color-white);
    margin-top: 3rem;
    font-size: 2.7.5rem;
    font-weight: 700;

    position: relative;
    z-index: 3;
}


/* =====================================================
CÍRCULO DO ROBÔ
===================================================== */

.welcome::after {
    content: "";
    position: absolute;

    width: 7.5rem;
    height: 7.5rem;

    background: var(--color-background);

    left: 50%;
    top: 9.5rem;

    transform: translateX(-50%);

    border-radius: 100%;

    z-index: 1;
}


/* =====================================================
ROBÔ DENTRO DO CÍRCULO
===================================================== */

.robot {
    position: absolute;

    left: 50%;
    top: 8rem;

    transform: translateX(-50%);

    width: 10.5rem;
    height: 10.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.robot img {
    width: 6rem;
    height: auto;
    object-fit: contain;
}

.register {
    display: none;
}


/* =====================================================
LADO DIREITO
MOBILE
===================================================== */

.login {
    margin-top: 9.375rem !important;

    background-color: var(--color-white);

    width: 19.375rem;
    margin: 3rem auto;

    border-radius: 2rem;

    padding: 4.375rem 1.5rem 2.5rem;
}

.login h2 {
    text-align: center;
    line-height: 1;
    transform: translateY(-3rem);
    font-size: 2rem;
    color: var(--color-text);
}

.login span {
    color: var(--color-primary);
}


/* =====================================================
LOGIN SOCIAL
===================================================== */

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;

    margin-bottom: 2rem;
}

.social-login button img{
    position: absolute;
    width: 2.5rem;
}

.social-login button {
    background-color:  #1877F2;
    color: #FFF;
    
    width: 4rem;
    height: 4rem;
    
    border: none;
    border-radius: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid rgba(0, 0, 0, 0.12);
    
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.social-login button:nth-child(2) {
    background-color: var(--color-white);
    color: #444;

    cursor: pointer;
}

.social-login button {
    gap: 7.5rem;
    font-size: 0rem;
    font-weight: bold;
}

.social-login button:hover{
    transform: translateY(-3px) scale(1.01);

    box-shadow: 0 10px 24px rgba(0, 0, 0, .12);

}

/* =====================================================
SEPARADOR
===================================================== */

.separator {
    display: flex;
    align-items: center;
    gap: .75rem;

    margin: 0;
}

.separator hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.35);
}

.separator span {
    color: rgba(0, 0, 0, 0.35);
    font-size: .975rem;
    font-weight: 500;
}


/* =====================================================
CAMPOS
===================================================== */

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.input-group input {
    height: 2.5rem;
    padding: 0 .9rem;

    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.8rem;

    outline: none;

    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}


/* FOCUS VERMELHO */

.input-group input:focus {
    border-color: #1F4DE0;

    box-shadow: 0 0 0 3px rgba(53, 73, 229, 0.12);

    outline: none;
}

.input-group input::placeholder {
    font-size: 0.9rem;
}


/* =====================================================
OPÇÕES
===================================================== */

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0.5rem 0 1.5rem;
}

.remember {
    display: flex;
    align-items: center;
    gap: 0.7.5rem;
}

#remember{
    cursor: pointer;
    
}

.remember label {
    padding-left: .5rem;
    font-size: .75rem;
    color: var(--color-autenticacao);
}

.options a:hover{
    color: #1F4DE0;
    text-decoration: underline;
}
.options a {
    font-size: .75rem;
    color: var(--color-link);
   
}


/* =====================================================
BOTÃO LOGIN
===================================================== */

.login-button {
    width: 100%;
    height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    border: none;
    border-radius: 14px;

    background: #2962FF;

    color: #FFF;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: .25s;
}

.login-button:hover{
    background: #2962FF;

    transform:translateY(-2px);

    box-shadow:0 12px 28px rgba(41,98,255,.28)
}

/* =====================================================
CRIAR CONTA
===================================================== */

.create-account {
    text-align: center;
    margin-top: 1.5rem;

}

.create-account a {
    
    font-size: 0.75rem;
    color: var(--color-link);
    font-weight: 700;
   
}

.create-account a:hover{
    color: #1F4DE0;
    text-decoration: underline;
}


/* =====================================================
NOTEBOOK + PC
A partir de 900px
===================================================== */

@media (min-width: 900px) {

       html, body {
        margin: 0; 
        padding: 0 ; 
        width: 100% ;
        /* Mudado para min-height para permitir que o fundo cresça se a página rolar */
        min-height: 100vh ; 
        height: auto ;
    }

    .container {
        display: flex;
        width: 100vw; 
        /* Altera para min-height para abraçar todo o conteúdo de cima a baixo */
        min-height: 100vh ; 
        height: auto;
        margin: 0 ;
        padding: 0 ;
        border-radius: 0; 
        background-color: var(--color-background); 
        
        justify-content: space-between; 
        align-items: stretch; /* FORÇA as colunas internas a terem exatamente a mesma altura */
    }


    /* =========================
       LADO ESQUERDO
       ========================= */

     .welcome {
        width: 40% ; 
        /* Mudado de 100vh fixo para min-height: 100% e auto, fazendo colar embaixo */
        min-height: 100% ; 
        height: auto ;
        flex: 0 0 37.55% ; 
        
        margin: 0 ; 
        padding: 0 ;
        border-radius: 0 ; 
        position: relative;
        background: var(--background-welcome) ; 

    }


    .welcome h1 {
        font-size: 2.7.5rem;
        margin-top: .5rem !important;
    }

    .welcome::after {
       display: none;
    }

     .robot {
        top: 16rem !important;

         left: 50% !important; 
         transform: translateX(-50%) !important; 
          margin: 0 !important;
    }

    .robot img {

        width: 11.75rem !important;
        height: 11.75rem !important;
    }


    /* =========================
       LADO DIREITO
       ========================= */

       .login {
           margin-top: 1rem !important;
           margin-bottom: 1rem !important;
           /* Define o tamanho da caixa de login */
        width: 32.2rem; 
        height:  45rem; /* Altere este valor para controlar a altura da caixa branca */
        flex: 0 0 auto;

        /* MARGENS: Centraliza verticalmente e joga para o lado direito com espaço */
        margin: auto ; 

        background-color: var(--color-white); /* Cor de fundo da caixa */
        border-radius: .75rem; /* Mantém os cantos arredondados na caixa branca */
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08); /* Sombra para dar o efeito de flutuar */
        
        /* Alinhamento interno do formulário */
        display: flex;
        flex-direction: column;
        justify-content: center; 
        box-sizing: border-box;
    }

    .login h2 {
        font-size: 3rem;
    }

    .remember label{
        font-size: 1rem;
    }

    .options a{
        font-size: 1rem;
    }

    .login-button{
        margin-top: 5rem;
    }

    .social-login{

        flex-direction: column;
        align-items: flex-start ;
        gap: 1rem;
    }
    .social-login button{
        font-size: 1rem;
        
        width: 29rem !important;
        height: 2.5rem !important;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-left: 1rem !important;
        gap: 8rem !important;
    }

    .social-login button img{

        position: relative !important;
        top: auto !important;
        left: auto !important;

    width: 1.5rem !important;    /* Controla a largura do ícone */
    height: 1.5rem !important;   /* Controla a altura do ícone */
    object-fit: contain;
    }
}

/* =====================================================
PC GRANDE (TELA DE 1920px)
Garante o alinhamento correto do robô e do título
===================================================== */
@media (min-width: 1400px) {

    html,
    body{
        overflow: hidden !important;
        height: 100vh !important;
         overflow-y: hidden !important;
    }
    .container{
        height: 100vh !important;
    }


    /* lado esquerdo */
    .welcome{
          flex: 0 0 34.5% ;
          height: 100vh; 
    }

    /* Empurra o título  para baixo na tela grande */
    .welcome h1 {
        margin-top: 3rem !important; 
    }

    /* Empurra o robô para baixo de forma proporcional para essa media */
    .robot {
        top: 30.5rem !important; /* Ajuste se quiser o robô mais para cima ou para baixo */
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .robot img{
        width: 17rem !important;
        height: 17rem !important;
    }

      .login {

        border-radius: 2rem;
       
        height: 46rem !important; 
        width: 35rem !important;
        
        margin-top: auto !important;
        margin-bottom: 9rem !important;
        margin-left: 23rem !important;
        
        padding: 2.5rem 3.5rem !important; /* Dá o respiro interno para o botão azul respirar */
    }


    
}